body {
    background-image: url("http://static.tumblr.com/0b1146a8fca1447dbd00342a6f383700/zqdyc6b/C03mqaskj/tumblr_static_tumblr_static_black_background_wood_2560x1440_by_starlyz-d4n0342.jpg");
}
* {
    font-family:Garamond;
    color:#dd4c4c;
}
p {
    font-size:20px;
}
.tag {
    color:#ffee45;
}
.effect {
  border: none;
  margin: 0 auto;
}
.effect:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
#navbar {
    border: 2px solid white;
    border-radius: 20px;
    font-family: Garamond;
    font-weight: bold;
    text-shadow: 3px 2px 3px gray;
    padding: 5px;
}
#navbar ul {
    display: inline;
    margin: 0;
    padding: 0;
}
#navbar li {
    font-size: 23px;
    display: inline;
    list-style: none;
    margin: 5px;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}
#navbar a:hover {
    color: #dd4c4c;
    background-color: none;
}